VITE_FIREBASE_API_KEY="AIzaSyAkPkmX5mVStpAQPc1Bh6TW8upI-T_Miuk"
VITE_FIREBASE_AUTH_DOMAIN="syncee-assesment.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="syncee-assesment"
VITE_FIREBASE_STORAGE_BUCKET="syncee-assesment.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="271438263921"
VITE_FIREBASE_APP_ID="1:271438263921:web:c13c87f2f2bb493ac1cdd0"

VITE_CURRENCIES_API="https://api.coinbase.com/v2"
